* {margin: 0; padding: 0; color: #000000D9;box-sizing: border-box;font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
ul, ol {list-style: none;}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.85);}
a { text-decoration: none; color: inherit; }
section > h1, section h2, section h3 {
    color: #0d1a26;
}
h1 {
    font-size: 30px;
    line-height: 38px;
}
section {
    padding-bottom: 20px;
    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}

$border-color:#eeeeee;
$padding:16px;
$main-color:#1890ff;
body {
    font-size: 14px;
}

.global-page{
    background-color: #fff;
    min-height: 100vh;
}
.global-header{
    padding: 9px 0;
    margin-bottom: 40px;
    box-shadow: 0 2px 8px #f0f1f2;
    .logo{
        display: flex;
        align-items: center;
        padding: 0 40px;
        > img {
            height: 42px;
            width: 42px;
            margin-right: 12px;
        }
        > span {
            font-weight: 400;
            height: 32px;
            font-size: 26px;
            line-height: 28px;
            font-family: PuHuiTi,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji,sans-serif;
        }
    }
}
.global-sider{
    border-right: 1px solid #EEEEEE;
    h2{
        padding: $padding;
        font-size: 18px;
    }
    ul{
        min-width: 14em;
        font-size: 14px;
        li{
            position: relative;
            a{
                &::after{
                    content:'';
                    opacity: 0;
                    transform: scaleY(.0001);
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    border-right: 3px solid #1890ff;
                    transition:transform .15s cubic-bezier(.215,.61,.355,1),opacity .15s cubic-bezier(.215,.61,.355,1);
                }
                color: #333;
                display: block;
                padding: 11px 16px 11px 40px;
                &:hover{
                    color: $main-color;
                }
                &.active{
                    color: $main-color;
                    background: #e6f7ff;
                    position: relative;
                    &::after{
                        opacity: 1;
                        transform: scaleY(1);
                        transition:transform .15s cubic-bezier(.645,.045,.355,1),opacity .15s cubic-bezier(.645,.045,.355,1)
                    }
                }
            }
        }
    }
}
.global-content{
    padding-left: 64px;
    padding-bottom: 32px;
    padding-right: 32px;
    border: 1px solid red;

    margin: 0 auto;
    // padding-bottom: 0;
    max-width: 1000px;
}
.global-footer {
    text-align: center;
    font-size: 12px;
    color: #FFFFFF66;
    padding: 32px 0;
    border-top: 1px solid $border-color;
    background-color: #34383b;
}
